* {
			margin: 0
			padding: 0
			border: 0
}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 100px;
  text-align: right;
  margin-right: 50px;
  margin-left: 120px;
  color: white;
  display: inline;
  text-shadow: 1px 1px 1px grey;
}

.me {
  text-align: left;
}

.me:hover {
  width: 300px;
  transition: 2s;
}

.name {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 20px;
}

.about {
  text-decoration: underline;
  margin-left: 20px;
}

.first-section {
  background: grey;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    border
}

p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 20px;
}

.work {
  text-decoration: underline;
  margin-left: 20px;
}

.second-section {
  background: grey;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mywork {
  margin: 40px;
}

.grad {
  margin-left: 30px;
}
