* {
			margin: 0
			padding: 0
			border: 0
}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 100px;
  text-align: right;
  margin-right: 50px;
  margin-left: 120px;
  color: white;
  display: inline;
  text-shadow: 1px 1px 1px grey;
}

.me {
  text-align: left;
}

.me:hover {
  width: 300px;
  transition: 2s;
}

.name {
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.about {
  text-decoration: underline;
}

.first-section {
  background: grey;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Karla', sans-serif;
  color: white;
  font-size: 30px;
  text-decoration: underline;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: white;
	font-size: 15px;
}

.work {
  text-decoration: underline;
}

.second-section {
  background: grey;
  padding: 20px;
  padding-bottom: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.third-section {
  background: grey;
  padding: 20px;
	color: white;
}

.resume {
  text-decoration: underline;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 12px;
}

.fourth-section {
	background: grey;
	color: white;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
